
<h2> {{dataService.VarTitulo}}</h2>
<div class="container">
   <div class="botonSelector">
      <button mat-raised-button color="primary" (click)="getAllTask()">Trae Todos Servicios</button>
   </div>
   <div class="botonSelector">
      <button mat-raised-button color="primary" (click)="getTask()">Trae 1 Servicio</button>
   </div>
   <div class="botonSelector">
      <button mat-raised-button color="primary" (click)="createTask()">Insertar Servicio</button>
   </div>
   <div class="botonSelector">
      <button mat-raised-button color="primary" (click)="updateTask()">Update Servicio</button>
   </div>
   <div class="botonSelector">
      <button mat-raised-button color="primary" (click)="deleteTask()">Delete Servicio</button>
   </div>
</div>
