
<div class="container">
   <div class="allTaks">
      <button (click)="getAllTask()">Trae Todos Servicios</button>
   <div class="Taks">
      <button (click)="getTask()">Trae  un Servicio</button>
   </div>

   <div class="createTaks">
      <button (click)="createTask()">Insertar Servicio</button>
   </div>

   <div class="updateTask">
      <button (click)="updateTask()">Update Servicio</button>
   </div>

   <div class="deletTask">
      <button (click)="deleteTask()">Delete Servicio</button>
   </div>
</div>
